@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.background {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../assets/photo-of-people-doing-handshakes-3183172.png);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/photo-of-people-doing-handshakes-3183172.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  font-family: "Roboto", sans-serif;
}

.backgroundpink {
  background: url(../assets/Rectangle3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.backgroundform {
  background: url(../assets/form.png);
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */