@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.background {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 
    ),
    url(../assets/photo-of-people-doing-handshakes-3183172.png);
  background-size: cover;
//   background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  

}
body {
  font-family: "Roboto", sans-serif;
}
.backgroundpink {
  background: url(../assets/Rectangle3.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.backgroundform {
  background: url(../assets/form.png);
  background-size: cover;

  // height: 700px;
}
// .backgroundnet{
//     background: url(../assets/Fill16.png);
//     // position: absolute;
//     background-repeat: no-repeat;
//     top: 700px;
//     right: 500px;
// }
